/* headline */
.wrapper-headline>.image-headline img {
    width: 100%;
    min-height: 250px;
    display: block;
    max-height: 500px;
    object-fit: cover;
}

.wrapper-headline>.title-headline {
    background: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08), rgb(255, 255, 255));
    transform: translateY(-100%);
    min-height: 300px;
    font-size: 65px;
    font-weight: bolder;
    position: absolute;
    line-height: 110%;
    padding: 0 50px 0 50px;
}

/* content */
.main-wrapper-content {
    width: 720px;
    max-width: 80vw;
    margin: auto;
    margin-left: 400px;
    margin-top: 30px;
}

.wrapper-content {
    font-size: 18px;
    cursor: text;
    color: #343434;
    line-height: 20pt;
    letter-spacing: .02em;
    margin-top: 10px;
    padding-top: 15px;
}

.images-author img {
    border-radius: 50%;
    background-color: #dcdcdc;
    height: 80px;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid #b0b0b0;
}

.images-author {
    display: inline-block;
}

.date-author {
    font-size: 12px;
    color: black;
}

.wrapper-detail-author {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 17px;
    color: black;
}

/* sidebar menu */
.wrapper-sidebar-menu {
    height: 80vh;
    width: 300px;
    max-width: 80vw;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 1000px;
    margin-right: 10px;
    padding: 40px 18px 10px;
    background-color: #e4e4e4;
    border-radius: 1rem 1rem 1rem 1rem;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
}

.hide-sidebar {
    display: none;
}

.shadow {
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 0 6px hsla(0, 0%, 61.6%, .33);
}

.title-sidebar-menu {
    text-align: center;
}

.title-sidebar-menu p {
    text-align: center;
    border-radius: 2rem;
    display: inline-block;
    background-color: #fff;
    color: #565655;
    padding: 8px 24px;
    cursor: pointer;
}

.non-sticky {
    position: fixed;
    top: 700px;
    left: 2vw;
}

.sticky {
    position: fixed;
    top: 45px;
    left: 2vw;
}

.sticky-top {
    top: 30px;
}

.sticky-top-hide {
    top: 1000px;
}

.menu-blue {
    background-color: #2196f3;
    color: #fff;
    margin-top: 20px;
}

.menu-white {
    background-color: white;
    color: #565655;
    margin-top: 5px;
}

.menu-style {
    text-align: left;
    display: block;
    border-radius: .5rem;
    border: 1px solid #d8d8d8;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.show-off-sidebar {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #2ca1fd;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .5s ease-in-out;
    z-index: 2;
    margin-left: calc(((2vw + 280px) - 20px) / 2);
}

.off-sidebar {
    margin-left: 5px;
    left: 0vw;
    -webkit-transition: .5s ease-in-out;
}

/* scrollbar theme */
.wrapper-sidebar-menu::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius: 10px;
}

.wrapper-sidebar-menu::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 10px;
    border: 3px solid var(--scrollbarBG);
}

.wrapper-sidebar-menu::-webkit-scrollbar {
    width: 20px;
    height: 5px;
}

.wrapper-sidebar-menu {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    scrollbar-width: thin;
}